body{
	background-image: url(../img/background7.jpg);
	background-repeat: y-repeat;
	background-size: 100%;
	position: relative;
	color: white;
	font-style: italic;
	text-shadow: 4px 4px 2px black;
	cursor:default;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.fifteen-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	height: 480px;
	font-style: normal;
	border: 3px solid white;
}

.fifteen-wrap div{
	border: 1px solid white;
	width: 33%;
	height: 159px;
	font-size: 4em;
	padding-top: 9%;
	text-align: center;
 	vertical-align: middle;
	font-weight: bold;
	cursor: default;
}

.fifteen-wrap div:last-child,.fifteen-wrap div:nth-child(3),.fifteen-wrap div:nth-child(6){
	width: 34%;
}

h1, p{
	width: 100%;
	text-align: center;
	font-size: 5em;
	margin: 0 0 20px 0;
	text-shadow: 4px 4px 2px black;
}

.result{
	width: 39%;
	margin-right:1%;
}

.result > div:first-child{
	padding:2px;
	margin-bottom: 20px;
}

.result__best{
	font-size: 2em;
}


h2, p {
	font-size: 2.5em;
	text-align: left;
	font-style: italic;
	margin: 0 0 10px 0;
	text-shadow: 4px 4px 2px black;
	
}

.invisible{
	display: none;
}

.message{
	margin: 0 auto;
	font-size: 2em;
	color: white;
	border-radius: 15%;
	padding: 5%;
	font-style: italic;
	text-align: center;
}

button{
	cursor: pointer; 
	font-size:25px;  
	text-decoration: none; 
	padding:7px 44px; 
	color:#363a3d; 
	background-color:#ffffff; 
	border-radius:29px; 
	border: 4px solid #171818;
	font-weight: bold;
	margin: 20px auto;
}

button:hover{
	background-color:#8d9499;color:#ffffff;
}

.approve{
	width: 300px;
	padding:10px 0;
}

@media (min-width: 481px) and (max-width:800px) {
	
	.fifteen-wrap{
		width: 50%;
		height: 330px;
	}

	.fifteen-wrap div{
		border: 1px solid white;
		width: 33%;
		height: 109px;
		font-size: 2em;
		padding-top: 11%;
	}

	.container{
		align-items: flex-start;
	}

	h2, p {
		font-size: 1.5em;
		text-align: left;
		font-style: italic;
		margin: 0 0 10px 0;
		text-shadow: 4px 4px 2px black;
		
	}

	.result__best{
		font-size: 1.5em;
	}

	span{
		display: block;
		padding: 5px 0;
	}

	.result{
		position: relative;
	}

	button{
		position: absolute;
		font-size:1.3em;  
		width: 250px;
		bottom: -110px;
	}

	.message{
		margin-top: 200px;
		font-size: 1.5em;
	}

	.approve{
		position: static;
		width: 300px;
	}

}

@media (max-width:480px) {
	h1{
		font-size: 3em;	
		margin-bottom: 5px;
	}

	h2, p{
		font-size: 1.5em;
		text-align: center;
		width: 100%;
		margin: 0 0 5px 0;
	}

	.fifteen-wrap div{
		width: 33%;
		height: 100px;
		padding-top: 9%; 
		font-size: 2em;
	}


	.fifteen-wrap{
		width: 306px;
		height: 306px;
		margin-top: 70px;
	}

	.result{
		position: relative;
		width: 100%;
	}

	.result__best{
		text-align: center;
	}

	button{
		position: absolute;
		width: 60%;
		bottom: -60px;
		left: 20%;
		margin-left:-25%;
		font-size:1.2em;  
		padding:5px 10px; 
		margin: 10px auto;
	}

	.message{
		margin-top: 200px;
		font-size: 1.5em;
	}

	.approve{
		position: static;
		width: 200px;
	}

}




